/* ============= GLOBAL CSS =============== */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
} /*16px*/
:root {
  --primary-500: #ff0000;

  --grey-50: #f8fafc;
  --grey-900: #0f172a;
  --black: #222;
  --white: #fff;
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 50px;
  --letterSpacing: 1px;
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  background: var(--backgroundColor);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1;
  color: var(--textColor);
}
p {
  margin: 0;
  color: var(--white);
  padding-bottom: 2.5rem;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

h1 {
  font-size: 3.052rem;
  color: var(--white);
  padding-bottom: 2.5rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

a {
  text-decoration: none;
  font-size: 0.9rem;
  color: red;
  font-weight: 600;
}
ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
/* buttons */

.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: 1px solid var(--primary-500);
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  font-weight: 600;

  text-transform: capitalize;
  display: inline-block;
}
.btn:hover {
  background: var(--white);
  color: var(--primary-500);
}

::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}

/* ============= PROJECT CSS =============== */

/* NAVBAR */
.navbar {
  width: 100vw;
  height: 100px;
  background-color: var(--white);
  display: grid;
  place-items: center;
  grid-template-columns: 3fr 6fr 3fr;
  position: fixed;
  z-index: 1;
  position: fixed;
  overflow: visible;
  z-index: 3;
}
.logo {
  margin-left: auto;
  img {
    height: 130px;
  }
}
.menu {
  ul {
    display: flex;
    gap: 3rem;
    padding-bottom: 1.2rem;
    li {
      font-size: 1rem;
      color: var(--black);
      text-transform: uppercase;
      font-weight: 600;
    }
  }
}
.menu-button {
  margin-right: auto;
  ul {
    height: 110px;
    display: flex;
    gap: 2rem;
    padding-top: 1.3rem;
  }
}
.buttonlist1 .btn1 {
  width: 50px;
  height: 50px;
  font-size: 1rem;
  background-color: var(--white);
  color: var(--primary-500);
}
.btn1:hover {
  background-color: var(--primary-500);
  color: var(--white);
}
.btn2 {
  width: 150px;
  height: 50px;
  font-size: 1rem;
}
.menu-button ul:nth-child(even) {
  height: 80px;
  width: 150px;
}
.icon-before img {
  height: 0.9rem;
  padding-right: 0.5rem;
}

/* HERO */
.hero {
  margin: 0;
  display: grid;
  place-items: center;
  grid-template-columns: 3fr 6fr 3fr;
  background-image: url(HERO_BANNER_1920x775_PIZZA_TOP.jpg);
  min-height: 750px;
  position: relative;

  /* the div inside the Hero section */
  div {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1,
    p {
      padding-bottom: 2rem;
    }
    h1 {
      font-size: 5rem;
      text-align: center;
      font-weight: 600;
    }
    p {
      font-size: 1.4rem;
      letter-spacing: 0.2rem;
    }
  }
}
.hero-btn {
  height: 70px;
  width: 250px;
  font-size: 1.2rem;
}

/* CARDS */
.offers {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  margin: 1rem;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    button {
      position: absolute;
      bottom: 2rem;
    }
  }

  h5,
  p {
    padding: 0 2rem;
    text-align: center;
  }
  h5 {
    font-size: 2rem;
    color: var(--white);
    margin-bottom: 3rem;
    font-weight: 600;
  }
  p {
    font-size: 1.2rem;
    font-weight: 500;
  }
}
.offertiles {
  height: 435px;
  width: 97%;
  background-size: cover;

  position: relative;
}

.offer1 {
  background-image: url(offer1.jpg);
}
.offer2 {
  background-image: url(offer2.jpg);
}
.offer3 {
  background-image: url(offer3.jpg);
}
.offer-btn {
  width: 160px;
  height: 40px;
  font-size: 1rem;
}
/* VIDEO */
.large-banner {
  width: 100%;
  min-height: 800px;
  position: relative;
  .video-play {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 1;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 13.75rem;
    padding-right: 7rem;
    background-image: linear-gradient(
      to right,
      rgba(255, 0, 0, 0.672),
      rgba(255, 0, 0, 0.003)
    );
    h1 {
      font-size: 3.9rem;
      font-weight: 600;
    }
    p {
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.5;
    }
    .btn {
      height: 3.15rem;
      width: 13.75rem;
      background-color: var(--white);
      color: var(--primary-500);
      font-size: 1rem;
    }
    .btn:hover {
      background-color: var(--primary-500);
      color: var(--white);
    }
  }
}
/* CARDS */
.blog {
  width: 100%;
  min-height: 910px;
  display: grid;
  grid-template-rows: 140px auto;
  grid-template-columns: repeat(8, 1fr);
  gap: 2rem;

  h1 {
    grid-column: 2/4;
    color: var(--black);
    font-size: 1.5rem;
    padding-top: 80px;
  }
}
.blog-tile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  height: 630px;
  box-shadow: var(--shadow-4);
  a,
  h3,
  p,
  button {
    padding: 1rem 2rem 1rem 2rem;
  }
  p {
    color: var(--black);
    position: absolute;
    top: 400px;
    font-size: 1rem;
    line-height: 1.6;
  }
  button {
    align-self: center;
    position: absolute;
    bottom: 1rem;
  }
}

.blog div:nth-child(2) {
  grid-area: 2/2/3/4;
}
.blog div:nth-child(3) {
  grid-area: 2/4/3/6;
}
.blog div:nth-child(4) {
  grid-area: 2/6/3/8;
}
.blog-image {
  width: 400px;
  align-self: center;
  object-fit: contain;
}
.bottom-menu {
  width: 50px;
  position: absolute;
  bottom: 1rem;
  right: 2rem;
}
/* LOCATION SECTION */
.map {
  height: 490px;

  z-index: 1;
  position: relative;
  overflow: hidden;
  a {
    font-size: 1rem;
    color: var(--white);
    padding-top: 3rem;
    font-weight: 300;
    text-decoration: underline;

    img {
      display: inline-block;

      padding-right: 1rem;
      padding-top: 0.3rem;
    }
  }
  a:hover {
    text-decoration: none;
  }
}
.map-content {
  position: absolute;
  top: 130px;
  left: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.map-image {
  object-fit: cover;

  z-index: -1;
}
.map-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.815);
  z-index: 0;
}
.map-button {
  width: 450px;
  height: 60px;
  position: relative;
  input {
    width: 100%;
    min-height: 60px;
    font-size: 1rem;
    padding-left: 2rem;
    border-radius: 50px;
    border: none;
  }
  ::placeholder {
    opacity: 50%;
  }

  .search-svg {
    width: 140px;
    height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--primary-500);
    border-radius: 0 50px 50px 0;
    p {
      padding-top: 30px;
    }
  }
  svg {
    height: 60px;
    width: 40px;
    display: block;
    margin: auto;
  }
}
/* FOOTER  */
footer {
  height: 740px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}
.footer-lists {
  display: flex;
  grid-area: 3/2/9/5;
  div {
    width: 300px;
  }
}
.newsletter-hd {
  grid-area: 2/7/3/8;
  text-align: right;
  align-content: end;
  h3 {
    font-size: 1.5rem;
    font-weight: 400;
  }
}
.signup-button {
  grid-area: 3/6/4/8;
  margin-top: 1rem;
  width: 550px;
  height: 80px;

  input {
    width: 100%;
    min-height: 80px;

    border: 1px solid black;
  }
}
.para-svg {
  min-height: 80px;
}
.search-svg p {
  padding-top: 22px;
  padding-left: 30px;
  font-weight: 600;
}
.list-elemnts-ffoter {
  padding: 1rem;
  h3 {
    padding-bottom: 1.5rem;
    font-size: 1rem;
    font-weight: 600;
  }
}
.list-elemnts-ffoter a {
  display: block;
  padding-top: 1.2rem;
  word-wrap: break-word;
  opacity: 60%;
  color: var(--black);
  font-weight: 300;
}
.socialmedia-hd {
  grid-area: 6/-3/7/-2;
  align-content: flex-start;
  h3 {
    font-size: 1.5rem;
    font-weight: 400;
  }
}
.newsletter-hd {
  align-content: end;
}
.language {
  grid-area: 7/2/8/3;
  align-content: center;

  .btn {
    width: 50px;
    height: 50px;
    margin-right: 0.6rem;
  }
}
.footer-logo {
  grid-area: 7/4/8/6;
  align-content: center;
  img {
    width: 100px;
    display: block;

    margin: auto;
  }
}
.social {
  display: flex;
  justify-content: space-between;
  grid-area: 7/5/8/8;
  padding-left: 8rem;

  img {
    width: 40px;
  }
}
.copyright {
  display: flex;
  grid-area: 8/2/9/8;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  h4 {
    text-align: center;
    font-size: 1rem;
    opacity: 50%;
    padding-top: 3rem;
    line-height: 2.5;
  }
  a {
    display: block;
    padding-top: 2rem;
    text-align: center;
    color: var(--black);
    font-weight: 300;
    font-size: 1rem;
  }
}
.sticky-logo {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: var(--primary-500);
  position: fixed;
  bottom: 3rem;
  left: 3rem;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 50%;
  }
}

footer {
  background-image: url("miettes (1).png"), url("footer-bg.jpg");
}
